<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GeocoderWebApp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/main.css">
    </head>
        <body>
            <div class="container"> 
                <h1> Super Geocoder</h1>
                <h3>Please upload your CSV file. The values containing addresses should be in a a column named <em>address</em> or <em>Address</em></h3>
                <form action="data" method="POST">
                    <input type="file" name="csvfile">
                    <input class="button" type="submit" value="Submit">
                </form>
                <div class="message">
                    {{data | safe}}
                </div>
                <div class="HTMLtable">
                    <form action="download" method="POST">
                        <input class="button" type="submit" value="Download CSV Output">
                    </form>
                </div>
            </div>
        </body>
</html>